<div class="header">
    <ul class="list-inline">
        <li>
            <a class="back-page" href="#/detail" >返回上一页</a>
        </li>
        <li class="page-name-2">
            <span>即时指数</span>
        </li>
    </ul>
</div>
<div class="match-team">
    <ul class="list-inline">
        <li class="company">{{matchDetail.company_name}}</li>
        <li class="match-league">{{matchDetail.league_name}}</li>
        <li class="team-info">({{matchDetail.match_home_rank}}){{matchDetail.match_home_name}}</li>
        <li class="vs">VS</li>
        <li class="team-info">{{matchDetail.match_visiting_name}}({{matchDetail.match_visiting_rank}})</li>
    </ul>
</div>
<div class="match-info">
    <ul class="list-inline odds">
        <li>主胜</li>
        <li>平局</li>
        <li>客胜</li>
        <li>变化时间</li>
    </ul>
</div>
<section ng-repeat="odd in matchDetail.odds">
    <div class="odds">
        <ul class="list-inline">
            <li class="odds-li">{{odd.win}}</li>
            <li class="odds-li">{{odd.draw}}</li>
            <li class="odds-li">{{odd.lose}}</li>
            <li class="odds-li">{{odd.oddDate}}</li>
        </ul>
    </div>
    <div class="split-line"></div>

</section>
