<div class="header">
    <ul class="list-inline">
        <li>
            <a class="back-page" href="#/">返回上一页</a>
        </li>
        <li class="page-name-2">
            <span>即时指数</span>
        </li>
    </ul>
</div>

<section>
    <div>
        <div class="match-team">
            <ul class="list-inline">
                <li class="match-league">{{match.league_name}}</li>
                <li class="team-info">({{match.match_home_rank}}){{match.match_home_name}}</li>
                <li class="vs">VS</li>
                <li class="team-info">{{match.match_visiting_name}}({{match.match_visiting_rank}})</li>
            </ul>
        </div>
        <div class="match-info">
            <ul class="list-inline">
                <li class="time">{{match.date}}</li>
                <li class="time">{{match.time}}</li>
                <li>主胜</li>
                <li>平局</li>
                <li>客胜</li>
                <li>返还</li>
            </ul>
        </div>
        <section ng-repeat="company in match.companys">
            <div class="match-data">
                <a href="#/change" ng-click="goToDetail()"><aside class="pull-left ave">
                    {{company.company_name}}
                </aside></a>
                <section>
                    <ul class="list-inline">
                        <li class="begin-status">初盘</li>
                        <li>{{company.first_win}}</li>
                        <li>{{company.first_draw}}</li>
                        <li>{{company.first_lose}}</li>
                        <li>{{company.first_returnRate}}</li>
                    </ul>
                    <ul class="list-inline">
                        <li class="now">即时</li>
                        <li class="primary-win">{{company.last_win}}</li>
                        <li>{{company.last_draw}}</li>
                        <li class="custom-win">{{company.last_lose}}</li>
                        <li>{{company.last_returnRate}}</li>
                    </ul>
                </section>
            </div>
            <div class="split-line"></div>
        </section>
    </div>
</section>
