<div class="header">
    <ul class="list-inline">
        <li class="match-date">
            <input type="date" name="date-match">
        </li>
        <li class="page-name">
            <span>即时指数</span>
        </li>
        <li class="company-type">
            <select ng-change="select()" ng-model="selectOption" ng-options=" option.value for option in selectOptions">
            </select>
        </li>
    </ul>
</div>

<nav class="nav">
    <a href="" class="category">所有</a>
    <a href="" class="category">北单</a>
    <a href="" class="category">竞彩</a>
    <a href="" class="category">足彩</a>
    <a href="" class="category">定制</a>
</nav>

<section ng-repeat="match in matchs">
    <div>
        <div class="match-team">
            <ul class="list-inline">
                <li class="match-league">{{match.league_name}}</li>
                <li class="team-info">({{match.match_home_rank}}){{match.match_home_name}}</li>
                <li class="vs">VS</li>
                <li class="team-info">{{match.match_visiting_name}}({{match.match_visiting_rank}})</li>
                <li class="match-detail"><a href="#/detail" ng-click="goToMatch()">点击</a></li>
            </ul>
        </div>
        <div class="match-info">
            <ul class="list-inline">
                <li class="time">{{match.date}}</li>
                <li class="time">{{match.time}}</li>
                <li>主胜</li>
                <li>平局</li>
                <li>客胜</li>
                <li>返还</li>
            </ul>
        </div>
        <div class="match-data">
            <aside class="pull-left ave">
                平均
            </aside>
            <section>
                <ul class="list-inline">
                    <li class="begin-status">初盘</li>
                    <li>{{match.first_win}}</li>
                    <li>{{match.first_draw}}</li>
                    <li>{{match.first_lose}}</li>
                    <li>{{match.first_returnRate}}</li>
                </ul>
                <ul class="list-inline">
                    <li class="now">即时</li>
                    <li class="primary-win">{{match.last_win}}</li>
                    <li>{{match.last_draw}}</li>
                    <li class="custom-win">{{match.last_lose}}</li>
                    <li>{{match.last_returnRate}}</li>
                </ul>
            </section>
        </div>
        <div class="split-line"></div>
    </div>
</section>
